<aside class="floating-toc" data-floating-toc hidden>
  <button class="floating-toc__toggle" type="button" aria-expanded="false" aria-controls="floating-toc-panel">
    <span class="floating-toc__icon" aria-hidden="true"><i></i><i></i><i></i></span>
    <span>Contents</span>
  </button>
  <nav class="floating-toc__panel" id="floating-toc-panel" aria-label="Table of contents" aria-hidden="true" inert>
    <div class="floating-toc__header">
      <span>On this page</span>
      <button class="floating-toc__close" type="button" aria-label="Close table of contents">×</button>
    </div>
    <ol class="floating-toc__list"></ol>
  </nav>
</aside>
